# --- Virtual Environment ---
venv/
env/

# --- Environment / Secrets ---
.env

backend/venv/
venv/
__pycache__/
*.py[cod]
frontend/node_modules/
backend/venv/
venv/
__pycache__/
*.py[cod]
frontend/node_modules/
backend/venv/
