.profile-container {
  width: 70%;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  font-family: sans-serif;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-menu {
  display: flex;
  flex-direction: column;
}

.profile-item {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.profile-item:hover {
  background-color: #f8f8f8;
}
